*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
parameters/ccc

parameters/g

parameters/h

parameters/i

parameters/ppp

parameters/r

parameters/t

parameters/u

parameters/uuu

parameters/z

*.odt#

*.swp
